/node_modules
/assets/dist/*
!/assets/dist/ai-editor.js
!/assets/dist/ai-editor.css
/assets/monaco/
/vendor
/.wordpress
/.wordpress-tests-lib
/languages/*.mo
/languages/*.json
.env
.phpunit.result.cache
/test-results/
/kayzart-live-code-editor.zip
/kayzart-live-code-editor-*.zip
